@import "~react-bulma-components/src/index.sass";
@import "~bulma/bulma.sass";
@import "~mapbox-gl/dist/mapbox-gl.css";

.has-margin-top {
    margin-top: 1vh
}

.level-hover {
    &:hover {
        cursor: pointer;
        box-shadow: 0 0 12px rgba(33,33,33,.2);
    }
}